.messenger{
    height: calc(105vh - 70px);
    display: flex;
}
.chatMenu{
    flex:3.5;
    border: 1px solid black;
}
.chatBox{
    border: 1px solid black;
    flex: 5.5;
}
.chatBoxWrapper{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}
/* .chatBoxTop{
    background-image: url('https: //as1.ftcdn.net/v2/jpg/03/27/51/56/1000_F_327515607_Hcps04aaEc7Ki43d1XZPxwcv0ZaIaorh.jpg');
    height: 100%; 
    overflow-y: scroll;
    padding-right: 10px;
} */
.chatBoxTop {
    background-image: url('https://img.freepik.com/free-vector/white-linen-texture_1409-2016.jpg?size=626&ext=jpg&ga=GA1.1.1255800410.1704448219&semt=ais');
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
    background-size: cover;
    /* Ensures that the background image covers the entire element */
    background-position: center;
    /* Centers the background image */
}
.chatOnline{flex: 3;}
.chatMenuWrapper,.chatBoxWrapper,.onlineWrapper{
    /* padding: 10px; */
    /* background-color: cornflowerblue; */
    height: 100%;
}
/* .chatMenuInput:ho */
.chatMenuInput{
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid gray;
}
.chatBoxBottom{
    background-color: #1d90ff;
    display: flex;
    /* margin-top: 5px; */
    align-items: center;
    justify-content: space-between;
}
.chatMssgInput{
    width: 85%;
    height: 55px;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
}
.sendButton{
    color: white;
   width: 90px;
   height: 40px;
   border: none;
   font-size: 1.5rem;
   /* border-radius: 5px; */
   cursor: pointer; 
   /* background-color: rgb(81, 129, 164) ; */
} 